<%= render 'recipes/returnButton' %>

<br/>

<div class="d-flex justify-content-center">
  <h1>New Recipe: <span id="recipe-name-display"></span></h1>
</div>

<br/>

<div class="container">

  <h4>Name</h4>
  <input type="text" title="Name" id="name-field"/>

  <br/>
  <br/>

  <h4>Image URL</h4>
  <input type="text" title="Image URL" id="imageurl-field">

  <br/>
  <br/>

  <h4>Recipe Description</h4>
  <textarea title="Description" id="description-field"></textarea>

  <br/>
  <br/>

  <h4>Ingredients</h4>
  <div id="ingredients-list" class="resizable-list list-unordered">
    <!-- TODO: make -->
  </div>

  <br/>
  <br/>

  <h4>Steps</h4>
  <div id="steps-list" class="resizable-list list-ordered">
    <!-- TODO: make -->
  </div>

  <br/>
  <br/>

  <h4>Utensils</h4>
  <div id="utensils-list" class="resizable-list list-unordered">
    <!-- TODO: make -->
  </div>

  <br/>
  <br/>

  <h4>Preparation Time</h4>
  <p><input type="number" title="Minimum Time" id="mintime-field" value="15"/>minutes &#8804; Preparation Time &#8804; <input type="number" title="Maximum Time" id="maxtime-field" value="60"/>minutes</p>

  <br/>
  <br/>

  <h4>Password</h4>
  <input type="password" title="Password" id="password-field"/>

  <br/>
  <br/>

</div>

<%= render 'recipes/returnButton' %>
